@model eShop.ViewModels.Sales.OrderVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="m-0 font-weight-bold text-primary">Chi tiết đơn hàng</h1>
    <a asp-action="Index" asp-controller="Order">&larr; Danh sách đơn hàng</a>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                    <h4 class="mb-2 text-gray-800">Danh sách sản phẩm</h4>
                    </div>
                    <div class="col-md-6 col-xs-12">
                    </div>
                </div>
            </div>

            <div class="card-body">
             
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @(item.Quantity*item.Price)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            <div class="table-responsive">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OrderStatus)
                    </dd>

                </dl>
            </div>
            </div>
    </div>

  

</div>
